TZ=Europe/Berlin
FB_NC_DYNDNS_FB_USER=...
FB_NC_DYNDNS_FB_PASSWORD=...
FB_NC_DYNDNS_NC_CUSTNO=...
FB_NC_DYNDNS_NC_API_KEY=...
FB_NC_DYNDNS_NC_API_PW=...
FB_NC_DYNDNS_INTERVAL=...
FB_NC_DYNDNS_LOGLEVEL=...
FB_NC_DYNDNS_DNS_TARGETS=...